<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.willowtreeapps.apptest.android.apk">

    <uses-permission android:name="android.permission.INTERNET" />

    <instrumentation
        android:name="com.willowtreeapps.apptest.android.AppTestRunner"
        android:functionalTest="false"
        android:handleProfiling="false"
        android:label="Tests for app-test"
        android:targetPackage="com.willowtreeapps.apptest.android" />

    <application>
        <uses-library android:name="android.test.runner" />
    </application>
</manifest>
